body {
  display: flex;
  justify-content: center;
}
button {
  background-color: rgba(0, 0, 0, 0);
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 352px;
  height: 627px;
  border-radius: 40px;
}

.main_white {
  background: linear-gradient(#e8f4ff, #c7e4ff);
}

.content {
  display: flex;
}
.material-icons {
  font-size: 40px !important;
}
.enter__section_button {
  width: 88px;
  height: 72px;
  border-width: 0px;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.enter__section {
  display: flex;
  justify-content: space-between;
}

.button_devide {
  font-size: 60px;
}

.button_border_null {
  border-radius: 0px 0px 0px 40px;
}

.button_border_plus {
  border-radius: 0px 0px 40px 0px;
}

.enter__section_number {
  display: flex;
}

.content {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  font-size: 30px;
  margin-top: 30px;
}

.content__example {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 33px;
  font-size: 35px;
}

.content__result {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 33px;
  font-size: 45px;
}

.color__blue_light {
  background-color: #96b1eb;
}

.color__white {
  background-color: #e8f4ff;
}

.color__white_light {
  background-color: #e9f4ff;
}
.color__white_dark {
  background-color: #afd0ff;
}
.border__for__point {
  border-radius: 30px 0px 0px 30px;
}
.border__for__delete {
  border-radius: 0px 30px 0px 0px;
}
.border__for__equal {
  border-radius: 60px 0px 0px 60px;
}

.color_blue {
  background-color: #d7e1f7;
}
.color_click {
  display: flex;
  justify-content: space-between;
  width: 295px;
}

.menu {
  position: absolute;
  z-index: 10;
  left: 2px;
  top: 72px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.1);
}

.visible {
  display: block;
}

.invisible {
  display: none;
}

.dropdown {
  width: 86px;
  font-family: inherit;
  font-weight: bolder;
  padding: 2px 20px;
  margin: 1px 0px 3px 0px;
  height: 40px;
  line-height: 32px;
  font-size: 15px;
  color: rgb(113, 123, 141);
  cursor: pointer;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.cyrcle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  margin-top: 13px;
}

.menu__button {
  display: flex;
}

.cyrcle_white {
  border: 2px solid #fff;
  background: #fff;
  margin: 14px 0px 0px 3px;
}
.cyrcle_blue {
  border: 2px solid #afd0ff;
  background: #afd0ff;
  margin: 14px 0px 0px 3px;
}
.cyrcle_black {
  border: 2px solid black;
  background: black;
  margin: 14px 0px 0px 3px;
}
